html {
color: #b863b6;
}
ul {
display: block;
padding-inline-start: 0px;
font-size: 2em;
}
body {
background-color: #191825;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
footer {
display: block;
height: auto;
padding-top: 5px;
padding-bottom: 5px;
text-align: center;
font-size: medium;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
box-shadow: 5px 0px 0px 1px rgba(255, 163, 253, 1);
}
nav {
padding-top: 1px;
padding-bottom: 1px;
margin-top: 0px;
font-size: small;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
text-align: center;
box-shadow: 0px 1px 0px 0px rgba(255, 163, 253, 1);
}
a {
color: #ffa3fd;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}

h1 {
font-size: 3em;
color: #ffa3fd;
margin-bottom: 0px;
text-align: center;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
h2 {
color: #ffa3fd;
font-size: 2em;
margin: 0;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
p {
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
}
subtitle{
color: #ffa3fd;
text-decoration: underline;
}
.banner{
height: auto;
width: 100vw;
float: right;
}
.banner img {
height: auto;
box-shadow: 0px 0;
width: 100%;
margin-bottom: 50px;
}
.breadcrumb{
color: #00AEEF;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 50px;
}
.breadcrumb a{
font-weight: bolder;
color: #008CC0;
text-decoration: none;
}
.content{
display: block;
padding-top: 5px;
padding-bottom: 5px;
margin-left: 25%;
margin-right: 25%;
margin-bottom: 25px;
box-shadow: 0px 1px 0px 0px rgba(255, 163, 253, 1);
}
.content img{
height: auto;
margin: 25px;
float: right;
}
.horizontal-list{
align-content: center;
list-style: none;
}
.horizontal-list a{
color: #ffa3fd;
text-decoration: underline;
}
.horizontal-list li{
display: inline-block;
padding-right: 3px;
}