html {
color: #b863b6;
font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
color-scheme: dark;
}
ul {
display: block;
padding-inline-start: 0px;
font-size: 2em;
}
body {
background-color: #191825;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
footer {
display: block;
height: auto;
margin-top: 5vh;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
font-size: medium;
box-shadow: 5px 0px 0px 1px rgba(255, 163, 253, 1);
}
nav {
padding-top: 1px;
padding-bottom: 1px;
margin-top: 0px;
font-size: 1em;
text-align: center;
box-shadow: 0px 1px 0px 0px rgba(255, 163, 253, 1);
}
a {
color: #ffa3fd;
}

h1 {
	font-size: 3em;
	color: #ffa3fd;
	margin-bottom: 10px;
	text-align: center;
}
h2 {
	color: #ffa3fd;
	font-size: 2em;
	margin: 0;
}
h3
{
	color: #fcc2fb;
	text-decoration: bold;
	margin: 0;
	font-size: 1em;
	
}
p {
	font-size: 1em;
}

ul *{
	margin: 10px;
}

subtitle{
color: #ffa3fd;
font-style: italic;
}
.arrow-divider{
	text-align:center;
	display:block;
	margin-top: 1vh;
}
.banner{
height: auto;
width: 100vw;
float: right;
}
.banner img {
height: auto;
box-shadow: 0px 0;
width: 100%;
margin-bottom: 50px;
}
.breadcrumb{
color: #00AEEF;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 50px;
}
.breadcrumb a{
font-weight: bolder;
color: #008CC0;
text-decoration: none;
}
.content{
display: block;
align-content: center;
padding-top: 50px;
padding-bottom: 50px;
margin-left: 10vw;
margin-right: 10vw;
margin-bottom: 25px;
box-shadow: 0px 1px 0px 0px rgba(255, 163, 253, 1);
}
.content img{
height: auto;
padding: 5px;
margin: 5px;
}
.horizontal-list{
align-content: center;
list-style: none;
}
.horizontal-list a{
color: #ffa3fd;
text-decoration: underline;
}
.horizontal-list li{
display: inline-block;
padding-right: 3px;
}
.outer-wrapper{
	display: flex;
	justify-content: center;
	margin-bottom: 5vh;
}
.wrapper {
	margin-top: 5vh;
	display: flex;
	width: 50%;
	box-shadow: 1px 1px 25px 1px rgba(255, 163, 253, 1);
}
.section-title
{
	display:flex;
	align-items:center;
	justify-content: center;
}
.box {
	padding: 25px;
	flex: 1;
	float: left;
	text-align: center;
	width: 50%;
	background: #242236;
}
.box li {
	list-style: none;
}